<div class="row">
	<div class="col-md-12 header-bar-fixed" style="position:fixed; z-index:10;"></div>
</div>

<div class="row">
	<div class="col-md-12" style="height:140px;"></div>
</div>

<div class="row h100">
	<div class="col-md-6 content-padding h100">
		<div class="missions-title">
			<p class="text m-text">Missions</p>
		</div>
		<div id="missions-listing">
			<!-- Fill in JS -->
		</div>
	</div>
	<div id="view-mission-box" class="content-padding" style="z-index:11;">
		<!-- Fill in JS by displayMission(); -->
	</div>
</div>
<script src="../js/jobs/listMissionsOnLoad.js"></script>
<script src="../js/jobs/listMissions.js"></script>