/*
** addMission.css
** Created by Gaël THOMAS - 13/04/2018
*/

@import url('./utils.css');

/**
 * General
 */
.header-bar-fixed {
        position: fixed;
        top: 0;
        height: 74px;
        background-color: #190733;
}

/**
 * Mission content
 */

#view-mission-box {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 45%;
        height: 100%;
}

.missions-title {
        padding: 0px 0px 0px 0px;
}

.m-text {
        font-size: 22.94px;
}

.view-box {
        position: relative;
        background: #2b0d4e;
        height: 100%;
        width: 92%;
        top: 74px;
        padding: 66px 20px 20px 20px;
        overflow: scroll;
        overflow-x: hidden;
}

.view-box-elem {
        padding-bottom: 35px;
}

.view-box-title {
        font-style: "Avenir LT Std 95 Black";
        font-size: 22.94px;
        font-weight: 700;
        text-transform: uppercase;
        color: #03f3c9;
}

.view-box-text {
        font-style: "Avenir LT Std 65 Medium";
        font-size: 18.32px;
        color: white;
}

.item-listing-view {
        width: 87%;
}

.view-box-picbox {
        width: 100px;
        height: 120px;
        margin: 0px 10px 0px 0px;
        display: inline-block;
}

.view-box-picbox-text {
        font-style: "Avenir LT Std 95 Black";
        font-size: 15.86px;
        color: #cccccc;
}

@media (max-width: 1512px) {
        .display-none-if {
                display: none;
        }
}

.box-grid {
        height: 127px;
        padding-left: 38.88px;
        padding-right: 26.27px;
}

.view-box-button {
        text-align: center;
}

.form-content-edit {
        top: 10px;
}

.input-box {
        padding: 0px 14px 0px 14px;
}

.spacing {
        padding-bottom: 10px;
}