<div class="header-bar"></div>

<div class="row">
        <div class="col-md-12" style="height:69.39px;"></div>
</div>
<div class="row">
        <div class="col-md-4 box-grid">
                <div id="badge-box" class="relative">
                        <p class="badge-text">Missions à venir</p>
                        <p id="badge-incoming" class="badge-value">00</p>
                        <img class="badge-ico absolute" src="../ressources/icons/ico-calendar.png" alt="calendar">
                </div>
        </div>
        <div class="col-md-4 box-grid">
                <div id="badge-box" class="relative">
                        <p class="badge-text">Missions passées</p>
                        <p id="badge-archived" class="badge-value">00</p>
                        <img class="badge-ico absolute" src="../ressources/icons/ico-valid.png" alt="calendar">
                </div>
        </div>
        <div class="col-md-4 box-grid">
                <div id="badge-box" class="relative">
                        <p class="badge-text">Missions totales</p>
                        <p id="badge-total" class="badge-value">00</p>
                        <img class="badge-ico absolute" src="../ressources/icons/ico-eye.png" alt="calendar">

                </div>
        </div>
</div>

<div style="height: 66.50px;"></div>
<div class="row">
        <div class="col-md-8 content-padding">
                <div class="missions-title">
                        <p class="text">Missions</p>
                </div>
                <div id="missions-listing">
                        <!-- Fill in JS -->
                </div>
                <div onclick="seeAllJobs(undefined); return false;" class="missions-see-all" style="text-align:right; cursor:pointer;">
                        Voir toutes les annonces...
                </div>
        </div>
        <div class="col-md-4" style="height:100px;">

        </div>
</div>
<script src="../js/jobs/loadJobModule.js"></script>
<script src="../js/jobs/listMissions.js"></script>