<div class="header-bar">
</div>

<div class="row">
	<div class="col-md-12" style="height: 100%; width: 100%;">
		<div class="form">
			<form onSubmit="addMission(); return false;">
				<div class="title row justify-content-center input">
					Ajouter une mission
				</div>
				<div class="row justify-content-center input relative" style="height: 100px;">
					<div for="input_text" class="input_label">Nom de la mission</div>
					<input id="mission_title" type="text" class="input_text absolute form-content text-center" name="input_text" />
				</div>

				<div class="row justify-content-center input relative" style="height: 100px;">
					<div for="input_text" class="input_label">Début</div>
					<input id="mission_start" type="text" class="calendar input_text absolute form-content text-center" name="input_text" />
				</div>

				<div class="row justify-content-center input relative" style="height: 100px;">
					<div for="input_text" class="input_label">Fin</div>
					<input id="mission_end" type="text" class="calendar input_text absolute form-content text-center" name="input_text" />
				</div>

				<div class="row justify-content-center input relative" style="height: 100px;">
					<div for="input_text" class="input_label">Rémunération (/h)</div>
					<input id="mission_cost" type="number" class="input_text absolute form-content text-center" name="input_text" />
				</div>


				<div class="row justify-content-center input relative" style="height: 100px;">
					<div for="input_text" class="input_label">Description</div>
					<textarea id="mission_desc" class="input_text absolute form-content" name="input_text" style="height: 266px; width: 566px;"></textarea>
				</div>

				<div class="row justify-content-center input button-box relative" style="height: 100px;">
					<button class="button blue" href="#">Publier</button>
				</div>

				<div class="row justify-content-center" id="errorAlert" style="padding-top: 20px;"></div>
			</form>
		</div>
	</div>
</div>

<script>
	$(".calendar").datepicker({
		closeText: 'Fermer',
		prevText: 'Précédent',
		nextText: 'Suivant',
		currentText: 'Aujourd\'hui',
		monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
		monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
		dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
		dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
		dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
		weekHeader: 'Sem.',
		dateFormat: 'yy-mm-dd'
	});
</script>