<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/addMission.css">
	<title>ProxiJob • Accueil</title>
</head>

<body>

	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="logo sidebar-header">
				<img height="120" width="168" src="../ressources/logo.png" alt="logo">
			</div>

			<ul class="list-unstyled components">
				<li class="relative">
					<a class="sidebar-icon" href="./dashboard.html">
						<img id="home" class="absolute icon-sidebar" src="../ressources/icons/ico-house.png" alt="accueil"> Accueil
					</a>
				</li>
				<li class="active relative">
					<a class="sidebar-icon" href="#">
						<img class="absolute icon-sidebar" src="../ressources/icons/ico-add-mission-active.png" alt="add-mission"> Ajouter une mission
					</a>
				</li>
				<li class="relative">
					<a class="sidebar-icon" href="#">
						<img class="absolute icon-sidebar" src="../ressources/icons/ico-mon-profil.png" alt="mon-profil"> Mon profil
					</a>
				</li>
				<li class="relative">
					<a class="sidebar-icon" href="#">
						<img class="absolute icon-sidebar" src="../ressources/icons/ico-mes-missions.png" alt="mes-missions"> Mes missions
					</a>
				</li>
				<li class="relative">
					<a class="sidebar-icon" href="#">
						<img class="absolute icon-sidebar" src="../ressources/icons/ico-deconnection.png" alt="mes-missions"> Déconnection
					</a>
				</li>
			</ul>

		</nav>

		<!-- Page Content Holder -->
		<div id="content">
			<div class="header-bar"></div>

			<div class="row">
				<div class="col-md-12" style="height: 100%; width: 100%;">
					<div class="form">
						<form onSubmit="return false;">
								<div class="title row justify-content-center input">
										Ajouter une mission
									</div>
							<div class="row justify-content-center input relative" style="height: 100px;">
								<div for="input_text" class="input_label">Nom de la mission</div>
								<input id="userName" type="text" class="input_text absolute form-content" name="input_text"/>
							</div>



							<div class="row justify-content-center input relative"  style="height: 100px;">
								<div for="input_text" class="input_label">Début</div>
								<input id="datepicker" type="password" class="input_text absolute form-content" name="input_text" />
							</div>

							<div class="row justify-content-center input relative"  style="height: 100px;">
								<div for="input_text" class="input_label">Fin</div>
								<input id="userPassword" type="password" class="input_text absolute form-content" name="input_text" />
							</div>
							
							<div class="row justify-content-center input relative"  style="height: 100px;">
									<div for="input_text" class="input_label">Rémunération (/h)</div>
									<input id="userPassword" type="password" class="input_text absolute form-content" name="input_text" />
								</div>
							

							<div class="row justify-content-center input relative"  style="height: 100px;">
								<div for="input_text" class="input_label">Description</div>
								<textarea class="input_text absolute form-content" name="input_text" style="height: 266px; width: 566px;"></textarea>
							</div>
							
							<div class="row justify-content-center input button-box relative"  style="height: 100px;">
								<button class="button blue" href="#">Publier</button>
							</div>
							
							<div class="row justify-content-center" id="errorAlert" style="padding-top: 20px;"></div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>

<script>

var $j = require('jquery');

    $j( "#datepicker" ).datepicker();
    


	$j(".sidebar-icon").on({
		mouseenter: function () {
			if ($j(this).parent().hasClass("active") == false)
				$j(this).children().attr('src', $j(this).children().attr("src").replace(".png", "") + '-active.png');

		},
		mouseleave: function () {
			if ($j(this).parent().hasClass("active") == false)
				$j(this).children().attr('src', $j(this).children().attr("src").replace("-active.png", ".png"));

		}
	});
</script>

</html>