<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/dashboard.css">
	<link rel="stylesheet" href="../css/addMission.css">
	<link rel="stylesheet" href="../css/listMission.css">
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css"
	 media="all">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script src="../js/initModules.js"></script>
	<script src="../js/menu/actions.js"></script>
	<script type="text/javascript" src="../js/utils.js"></script>
	<script type="text/javascript" src="../js/data/dbQueries.js"></script>
	<title>ProxiJob • Dashboard</title>
</head>

<body>

	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">

		</nav>

		<!-- Page Content Holder -->
		<div id="content">

		</div>
	</div>

</body>
<script>
	loadSidebar();
	changeMenu('/homeView/home.html');
</script>

</html>