<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/dashboard.css">
	<title>ProxiJob • Accueil</title>
</head>

<body>

	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="logo sidebar-header">
				<img height="120" width="168" src="../ressources/logo.png" alt="logo">
			</div>

			<ul class="list-unstyled components">
				<li class="active relative">
					<a class="sidebar-icon" href="#">
						<img id="home" class="sidebar-icon absolute icon-sidebar" src="../ressources/icons/ico-house-active.png" alt="accueil"> Accueil
					</a>
				</li>
				<li class="relative">
					<a class="sidebar-icon" href="#">
						<img class="absolute icon-sidebar" src="../ressources/icons/ico-add-mission.png" alt="add-mission"> Ajouter une mission
					</a>
				</li>
				<li class="relative">
					<a class="sidebar-icon" href="#">
						<img class="absolute icon-sidebar" src="../ressources/icons/ico-mon-profil.png" alt="mon-profil"> Mon profil
					</a>
				</li>
				<li class="relative">
					<a class="sidebar-icon" href="#">
						<img class="absolute icon-sidebar" src="../ressources/icons/ico-mes-missions.png" alt="mes-missions"> Mes missions
					</a>
				</li>
				<li class="relative">
					<a class="sidebar-icon" href="#">
						<img class="absolute icon-sidebar" src="../ressources/icons/ico-deconnection.png" alt="mes-missions"> Déconnection
					</a>
				</li>
			</ul>

		</nav>

		<!-- Page Content Holder -->
		<div id="content">

		</div>
	</div>

</body>
<script>
	var $j = require('jquery');

	$j(".sidebar-icon").on({
		mouseenter: function () {
			if ($j(this).parent().hasClass("active") == false)
				$j(this).children().attr('src', $j(this).children().attr("src").replace(".png", "") + '-active.png');

		},
		mouseleave: function () {
			if ($j(this).parent().hasClass("active") == false)
				$j(this).children().attr('src', $j(this).children().attr("src").replace("-active.png", ".png"));

		}
	});
</script>

</html>